

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h4><span class="glyphicon glyphicon-user"></span> Add Product</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">

                                                <form>
                            <div class="form-group">
                                <label for="id">
                                    </span> Id</label>
                                <input type="text" class="form-control" id="id" ng-model="product.id" placeholder="Unique ID">
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    </span> Name</label>
                                <input type="text" class="form-control" id="name" ng-model="product.name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="category">
                                    </span> Category</label>
                                <input type="text" class="form-control" id="category" ng-model="product.category" placeholder="Category">
                            </div>
                            <div class="form-group">
                                <label for="price">
                                    </span> Price</label>
                                <input type="text" class="form-control" id="price" ng-model="product.price" placeholder="Price">
                            </div>
                            <div class="form-group">
                                <label for="quantitySold">
                                    </span> Quantity Sold</label>
                                <input type="text" class="form-control" id="quantitySold" ng-model="product.quantitySold" placeholder="Number of sold units">
                            </div>
                            <div class="form-group">
                                <label for="quantityInStock">
                                    </span>Quantity In Stock</label>
                                <input type="text" class="form-control" id="quantityInStock" ng-model="product.quantityInStock" placeholder="Number of units in stock">
                            </div>
                            <div class="form-group">
                                <label for="imagepath">
                                    </span> Imagepath</label>
                                <input type="text" class="form-control" id="path" ng-model="product.imagePath" placeholder="An url to an image of the product">
                            </div>
                            <button type="submit" id="saveSeller" class="btn btn-success btn-block" ng-click="onOk()"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ng-click="onCancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>




