.Sellers {
	/* TODO: add any Sellers-specific styles here! */
}

#add-button {
	padding: 0;
	border: none;
	background: none;
}

#glyph-add {
	font-size: 2em;
	color:green;
}

.seller-table-head-actions {
	text-align: right;
}

.seller-actions {
    text-align: right;
}