

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h4><span class="glyphicon glyphicon-user"></span> View Product</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="product-view-name">
                            <span id="name" name="name">Name: {{product.name}}</span>
                        </div>
                        <div class="product-view-price">
                            <span id="price" name="price"/>{{product.price}}</span>
                        </div>
                        <div class="product-view-quantitySold">
                            <span id="quantitySold" name="quantitySold"/>{{product.quantitySold}}</span>
                        </div>
                        <div class="product-view-quantityInStock">
                            <span id="quantityInStock" name="quantityInStock"/>{{product.quantityInStock}}</span>
                        </div>
                        <div class="product-view-imagePath">
                            <span id="imagePath" name="imagePath"/>{{product.imagePath}}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ng-click="onCancel()"><span class="glyphicon glyphicon-remove"></span> Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>




